.text-link {
  @apply decoration-base-content/20 hover:decoration-primary-content/90 underline decoration-dotted underline-offset-2 transition-all duration-200;
  &:hover {
    @apply text-primary-content;
  }
}

.ok-card {
  @apply bg-base-0 rounded-box overflow-hidden shadow-[0px_4px_25px_0_rgba(0,0,0,0.07)];
  @apply dark:shadow-none;
}

.fade-overflow {
  @apply overflow-hidden;
  mask-image: linear-gradient(to right, black 60%, transparent 95%);
  -webkit-mask-image: linear-gradient(to right, black 60%, transparent 95%);
}

.fade-out {
  mask-image: linear-gradient(to bottom, black 0%, transparent 98%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 98%);
}

.rounded-box-inner {
  --gap: calc(var(--spacing) * 3);
  --radius: calc(var(--radius-box) - var(--gap));
  margin: var(--gap);
  border-radius: var(--radius);
}

.rounded-box-inner-tight {
  --gap: calc(var(--spacing));
  --radius: calc(var(--radius-box) - var(--gap));
  margin-left: var(--gap);
  margin-right: var(--gap);
  margin-top: calc(var(--gap) / 2);
  margin-bottom: calc(var(--gap) / 2);

  &.first {
    border-top-left-radius: var(--radius);
    margin-top: var(--gap);
  }
  &.last {
    border-bottom-left-radius: var(--radius);
    margin-bottom: var(--gap);
  }
}

.section-title {
  @apply text-base-300 dark:text-base-600 text-4xl md:text-6xl;
}

.gap-responsive {
  @apply gap-6 md:gap-24;
}

.gap-responsive-tight {
  @apply gap-3 md:gap-8;
}

.py-responsive {
  @apply py-12 md:py-32;
}

.py-responsive-tight {
  @apply py-6 md:py-12;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
