---
import PageLayout from "@/layouts/PageLayout.astro";
import SocialsBig from "@/components/Common/SocialsBig";

import Container from "@/components/Common/Container";
import BlurryBlobBackground from "@/components/Common/BlurryBlobBackground";
import Timeline from "@/components/Common/Timeline";
---

<PageLayout className="relative" flush>
  <div class="relative z-10">
    <div class="pt-responsive">
      <Container>
        <div
          class="mx-auto flex max-w-4xl flex-col gap-6 pt-24 pb-12 text-center text-lg xl:max-w-5xl xl:gap-10 xl:text-lg"
        >
          <h1 class="text-4xl md:text-6xl">
            <ruby>About OKTech<rt>オッケーテックについて</rt></ruby>
          </h1>
          <p class="text-lg md:text-2xl xl:text-3xl">
            OKTech is a volunteer-run, non-profit group that organizes monthly English in-person
            technology meetups in Japan's Kansai region.
          </p>
          <p class="text-balance break-keep">
            オーケーテックは、<wbr />関西地域で毎月対面の<wbr />技術系ミートアップを開催する<wbr
            />ボランティアによる非営利団体で、<wbr />誰でも参加可能であり、<wbr
            />発表や交流を通じて<wbr />学び合う場を提供しています。
          </p>
          <p>
            We welcome people from all backgrounds and encouraging members to share topics they’re
            passionate about. Join us in Osaka and Kyoto for technical workshops, study sessions,
            and social gatherings.
          </p>
          <p class="text-balance break-keep">
            あらゆるバックグラウンドを持つ<wbr />方々を歓迎し、<wbr
            />メンバーが情熱を注ぐテーマについて<wbr />語り合うことを奨励しています。<wbr
            />大阪や京都で開催される<wbr />技術ワークショップ、勉強会、<wbr
            />交流会にぜひご参加ください。
          </p>
        </div>
      </Container>
    </div>

    <Container>
      <div class="py-responsive gap-responsive grid grid-cols-1 md:grid-cols-3">
        <h3 class="col-span-1 text-left text-4xl">
          <ruby>OKTech <br class="hidden md:block" />History<rt>オッケーテックの歴史</rt></ruby>
        </h3>
        <div class="col-span-2 flex flex-col gap-8 text-lg">
          <p>
            OKTech started in 2015 as a grassroots meetup in Osaka called OWDDM, soon joined by its
            Kyoto counterpart KWDDM. For nearly a decade, the group grew through community events
            and shared learning. In 2025, we relaunched as OKTech, expanding our focus from web
            design and development to a broader range of tech fields in Kansai. What hasn’t changed
            is our community driven, volunteer-run spirit, and our belief that the best
            conversations happen both on and off the slides.
          </p>
          <p class="break-keep">
            2015年、OKTechは大阪で「OWDDM」という草の根ミートアップとして<wbr
            />活動を開始しました。<wbr />その後、京都の「KWDDM」が加わり、<wbr
            />約10年間、コミュニティイベントや勉強会を通じて<wbr />成長を続けてきました。<wbr
            />2025年、私たちは「OKTech」として再出発し、<wbr
            />活動範囲をウェブデザイン・開発から<wbr />関西のより広範な技術分野へと<wbr
            />拡大しました。<wbr />しかし、コミュニティ主導の<wbr />ボランティア運営という精神、<wbr
            />そして「最高の会話はスライドの上だけでなく、<wbr
            />その外でも生まれる」という私たちの信念は、<wbr />今も変わることはありません。
          </p>
        </div>
      </div>
    </Container>

    <Container>
      <Timeline client:visible />
    </Container>

    <div class="py-responsive">
      <SocialsBig client:visible />
    </div>
  </div>
  <BlurryBlobBackground client:load />
</PageLayout>
