---
import PageLayout from "@/layouts/PageLayout.astro";
import LandingHero from "@/components/Landing/LandingHero.astro";
import LandingAbout from "@/components/Landing/LandingAbout.astro";
import LandingCTA from "@/components/Landing/LandingCTA";
import { getEvents } from "@/content";

import EventsSection from "@/components/Landing/LandingEventsSection";
import { filterUpcomingEvents } from "@/utils/eventFilters";

// always get at least 12 latest events, plus the upcoming events.
const allEvents = await getEvents();
const upcomingEvents = filterUpcomingEvents(allEvents);
const events = allEvents.slice(0, upcomingEvents.length + 12);
const totalEvents = allEvents.length;
---

<PageLayout flush className="flex flex-col pb-24">
  <div class="py-responsive">
    <LandingHero />
  </div>
  <div class="bg-base-100 py-16">
    <EventsSection client:load events={events} totalEvents={totalEvents} variant="upcoming" />
  </div>
  <div class="py-responsive">
    <LandingAbout />
  </div>
  <!-- TODO test when there are no upcoming events -->
  <div class="bg-base-100 py-16">
    <EventsSection client:load events={events} totalEvents={totalEvents} variant="recent" />
  </div>
  <div class="pt-12">
    <LandingCTA client:visible />
  </div>
</PageLayout>
