---
import PageLayout from "@/layouts/PageLayout.astro";
import Container from "@/components/Common/Container";

interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  buttons?: Array<{
    href: string;
    icon: string;
    value: string;
    title?: string;
  }>;
  active?: string;
  class?: string;
}

const { title } = Astro.props;
---

<PageLayout className="pt-32 pb-22">
  <Container thin>
    <div class="mb-12 flex items-start justify-between">
      <h1 class="text-5xl font-bold">{title}</h1>
      <slot name="header" />
    </div>
    <div class="prose prose-lg max-w-none">
      <slot />
    </div>
  </Container>
</PageLayout>
