---
import MarkdownContent from "@/components/Common/MarkdownContent.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import Container from "@/components/Common/Container";

const { markdown } = Astro.props;

const markdownFiles = import.meta.glob("/content/**/*.md");
const fullPath = `/content/${markdown}`;
const module = (await markdownFiles[fullPath]()) as any;
const { frontmatter } = module;
---

<PageLayout className="pt-32 pb-22">
  <Container thin>
    <div class="mb-12 flex flex-col items-start justify-between gap-8 sm:flex-row">
      <h1 class="title font-bold">{frontmatter?.title}</h1>
      {
        frontmatter?.readingTime && (
          <div class="text-base-content/60 text-sm whitespace-nowrap">
            {frontmatter.readingTime}
          </div>
        )
      }
    </div>
    <div class="prose prose-lg max-w-none">
      <MarkdownContent markdown={markdown} />
    </div>
  </Container>
</PageLayout>
